.app {
  min-height: 100vh;
  background-color: #ffffff;
}

.container {
  @media (min-width: 768px) {
    display: flex;
    gap: 2rem;
    padding: 2rem;
  }

  @media (max-width: 767px) {
    padding: 1rem;
  }
} 